<div class="main-page-div">

    <div class ="tours-header main-header-div">
        <h2>Hello {{musicianData.name}}</h2>
    </div>

    <div class="search-venue">

        <form method="GET" action="/home/musician/{{tourId}}/{{cityName}}">


        <input name="search" type="text" placeholder="Search for a keyword..">

        <p>Select Capacity:</p>
        <label for="capacity"></label>
        <select name="capacity" id="capacity">
        <option value="5000">---</option>   
        <option value="500"> Up to 500</option>
        <option value="1500"> 500 to 1500</option>
        <option value="2000"> 1500 to 2000</option>
        <option value="5000"> over 2000</option>
        </select>


        <label for="backline">Backline Provided</label><br>
        <input type="checkbox" id="backline" name="backline" value="true">

        <label for="food">Catering Provided</label><br>
        <input type="checkbox" id="food" name="food" value="true">
    <div>
        <button type="submit" class="button">Filter</button>
        
    </form>

    <a href="/home/musician/{{tourId}}/{{cityName}}"><button class="button">Show all</button>
    </a>
    </div>



    </div>
    


    <h1>Venues in {{cityName}}</h1>
    {{#each venues}}
        <a href="/home/musician/{{../tourId}}/{{cityName}}/{{this._id}}"><p>{{this.name}}</p></a>
    {{/each }}

    <a href="/home/musician/{{../tourId}}">Back to Tours</a>
</div>


