{{!-- Modal --}}
<div class="modal fade" id="buildTourModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Build New Tour</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="/home/musician">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Tour Name: </label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Funnest Tour"
                            required>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="/home/musician/{{tourData._id}}"><button class="btn btn-secondary">Continue</button></a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="intro">
    <h1>Hey {{musicianData.name}}</h1>
</div>

<div class="active-tours">
    <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buildTourModal">
            Build New Tour
        </button>
    </div>

    <div>
        <h2>Active Tours</h2>
        <div class="tours">
            {{#each musician.tours}}
            <a href="/home/musician/{{this._id}}">
                <div class="card" style="width: 18rem;">
                    <img src="https://loremflickr.com/g/500/500/{{this.name}}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>

                        {{#if this.cities}}
                        <div>
                            <p class="card-text"><b>Cities:</b></p>
                            {{#each this.cities}}
                            <p class="card-text">{{this.name}}</p>
                            {{/each}}
                        </div>
                        {{/if}}
                    </div>
                    <div class="card-footer">
                        <a href="/home/musician/delete/{{this._id}}"><button class="btn btn-secondary" name="delete"
                                type="submit">Delete Tour</button></a>
                    </div>
                </div>
            </a>
            {{/each}}
        </div>

    </div>
</div>