<div>Musician Profile Page</div>

<form method="POST" action="/home/musician/profile">


    <p>Name: {{musicianData.name}}</p>
    <p>Email: {{musicianData.email}}</p>
    
   
    
    <label for="phoneNumber">Enter your phone number:</label>
    <input type="tel" id="phoneNumber" name="phoneNumber" value="{{musicianData.phoneNumber}}">
    

    
    <label for="genre">Enter your genre:</label>
    <input type="text" id="genre" name="genre" value="{{musicianData.genre}}">


    <label for="bio">Please give a brief bio:</label>
    <input type="text-area" id="bio" name="bio" rows="4" cols="50" value="{{musicianData.bio}}">
    

    <button type="submit" >Save Changes</button>
</form>

{{#if errorMessage}}
  <div class="error">{{errorMessage}}</div>
{{/if}}  

