<div>Musician Tour Page</div>

Hello {{musicianData.name}}
Your tour is {{tourData.name}}

<form method="POST" action="/home/musician/{{tourData._id}}">
<input type="text" name="city" id="city" placeholder="Search for a city..">
<button type="submit">Add City</button>


</form>

{{#if cities}}
    {{#each cities}}
    <a href="/home/musician/{{./tourData._id}}/{{this._id}}">{{this.name}}</a> <br>
    {{/each}}
{{/if}}

</form>

