<div>Musician Venue Page</div>

<p>{{venueInfo.name}}</p>
<img src={{venueInfo.photoSrc}}>
<p>Phone Number:{{venueInfo.phoneNumber}}</p>
<p>Type of Venue: {{venueInfo.type}}</p>
<p>Description: {{venueInfo.description}}</p>
<p>Backline:{{venueInfo.backline}}</p>
<p>Catering:{{venueInfo.food}}</p>
<p>Capacity:{{venueInfo.capacity}}</p>