

<div class = "main-page-div">

    <div class = "main-header-div">
        <h2>Hello {{musicianData.name}}</h2>

        <div class = "form-div">
            <form method="POST" action="/home/musician">
            <div>
                <label for="name">Tour Name:</label>
                <div>
                    <input type="name" name="name" id="name" required>
                </div>
            </div>
    
            <a href="/home/musician/{{tourData._id}}"><button class="button">Build New Tour</button></a>

        </form>

        </div>
        
    </div>

    <div class = "active-tours">

        <h1>Active Tours</h1>
        {{#each musician.tours}}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-3">


                        <a href="/home/musician/{{this._id}}"><div class="card">
                            <div class="card-horizontal">
                                <div class="img-square-wrapper">
                                    
                                    <img src="https://loremflickr.com/g/300/180/{{this.name}}" alt="Card image cap">
                                    
                                </div>
                                <div class="card-body tour-div">
                                    <h4 class="tour-name">{{this.name}}</h4>
                                    <a href="/home/musician/delete/{{this._id}}"><button class= "button" name="delete" type="submit">Delete Tour</button></a>
                                </div>
                            </div>
                            {{#if this.cities}}
                            <div>
                                <div class="card-footer">Cities: 
                                {{#each this.cities}}
                                <small class="text-muted"> {{this.name}}</small>
                                {{/each}}
                                </div>

                            </div>
                            
                        </div></a>
                        {{/if}}


                    </div>
                </div>
            </div>
            {{/each}}


</div>










    

