<div class="main-page-div">

    <div class ="others-header main-header-div">
        <h2>Hello {{musicianData.name}}</h2>
    </div>

    <div class="backbtn-div">

        <a href="/home/musician/{{./tourId}}"><button class="button back-button">Back to Tours</button></a>
    </div>    


    <div class="search-venue">

        <form method="GET" action="/home/musician/{{tourId}}/{{cityName}}">

        <div class="filter-search-1">
            <div>
                <p class="main-page-div">Search Keywords</p>
                <input name="search" type="text" placeholder="jazz">
            </div>
            <div>
                <p class="main-page-div">Select Capacity:</p>
                <label for="capacity"></label>
                <select name="capacity" id="capacity">
                <option value="5000">---</option>   
                <option value="500"> Up to 500</option>
                <option value="1500"> 500 to 1500</option>
                <option value="2000"> 1500 to 2000</option>
                <option value="5000"> over 2000</option>
                </select>
            </div>
        </div>
        

        <div class="filter-search-2">
            <label for="backline">Backline Provided</label><br>
            <input type="checkbox" id="backline" name="backline" value="true">

            <label for="food">Catering Provided</label><br>
            <input type="checkbox" id="food" name="food" value="true">
        </div>
        
    <div class="filter-btns">
        <button type="submit" class="button">Filter</button>
        
    </form>

    <a href="/home/musician/{{tourId}}/{{cityName}}"><button class="button back-button">Show all</button></a>
    </div>


    </div>
    

    <div class="venues-in-city">
        <h1>Venues in {{cityName}}</h1>
        {{#each venues}}
            <a href="/home/musician/{{../tourId}}/{{cityName}}/{{this._id}}"><p>{{this.name}}</p></a>
        {{/each }}

    </div>
    

</div>


