<div>
    <h1>Hey {{venueData.name}}</h1>
    <h2>Tours in Your Area</h2>
    <div>
       {{#each tourData}}
       <a href="/home/venue/{{this._id}}"><p>{{this.name}}</p></a>
       <img src="{{this.imgUrl}}">
       {{#each this.cities}}
             
            {{#if this.isSameCity}}
                <p>Contacted</p> 
                <a href="/home/venue/{{../this._id}}/add"><button>Confirm</button></a>   
            {{/if}}

            {{#if this.confirmed }}
                <p>Confirmed</p>
            {{/if}}
              
            
            
                
       {{/each}}
       {{/each}}
    </div>
</div>