<div class="intro">
    <h1>Hey {{venueData.name}}</h1>
</div>

<div>
    <h2>Tours in Your Area</h2>
    <div class="tours">
        {{#each tourData}}
        <a href="/home/venue/{{this._id}}">
            <div class="card" style="width: 18rem;">
                <img src="{{this.imgUrl}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    {{#each this.cities}}
                    {{#if this.isSameCity}}
                    <div class="contacted">
                        <p class="card-text">Contacted</p>
                        <a href="/home/venue/{{../this._id}}/add"><button class="btn btn-secondary">Confirm</button></a>
                    </div>

                    {{/if}}

                    {{#if this.confirmed }}
                    <p class="card-text">Confirmed</p>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </a>
        {{/each}}
    </div>
</div>